pkey.json
stations.csv
entrances.csv
build/
.gradle/
.DS_Store
local.properties
android/src/main/res/values/google_maps_api.xml
android/src/main/res/values/mapbox_conf.xml
android/src/main/assets/sputnik.json 
